---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

import { getCollection } from 'astro:content';
const postEntries = await getCollection('post');

// Use Astro.glob() to fetch all posts, and then sort them by date.
// const posts = (await Astro.glob('./p/*.{md,mdx}')).sort(
// 	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
// );
---

<!DOCTYPE html>
<html lang="id-us">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			ul {
				list-style-type: none;
				padding: unset;
			}
			ul li {
				display: flex;
			}
			ul li time {
				flex: 0 0 70px;
				font-style: italic;
				color: #888;
				font-size: smaller;
			}
			ul li span {
				color: #888;
				flex: 0 0 130px;
				font-size: smaller;
			}
			ul li a {
				font-size: smaller;
			}
			ul li a:visited {
				color: #9fd7dd;
			}
			hr {
				margin: 0.4rem 0;
				border-color: #323232;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{postEntries.map((post) => (
						<li>
								<time datetime={post.data.publishDate.toLocaleDateString('id-ID')}>
									{new Date(post.data.publishDate).toLocaleDateString('id-ID')}
								</time> 
								<span>
									{post.data.category} - {post.data.type}
								</span>
							<a href={`${post.slug}`}>{post.data.title}</a>
						</li>
						<hr />
					))}
				</ul>
			</section>
			<Footer />
		</main>
	</body>
</html>
