---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<html>
	<head>
		<BaseHead title={title} description={description} />
		<style>
			.title {
				font-size: 1.5em;
				margin-bottom: 0.5em 0 0;
				line-height: 1.25em;
			}
			hr {
				margin: 1rem 0;
				border-color: #2d2d2d;
			}
      p {
        text-align: justify;
      }
		</style>
	</head>

	<body>
		<Header />
		<hr />
		<a href="/p">(back to posts list)</a>
		<hr />
		<main>
			<article>
				{heroImage && (
					<img
						width={720}
						height={360}
						src={heroImage}
						alt=""
					/>
				)}
				<h1 class="title">{title}</h1>
				{pubDate && <time>{pubDate}</time>}
				{updatedDate && <div>Last updated on <time>{updatedDate}</time></div>}
				<hr/>
				<slot />
			</article>
		</main>
		<hr />
		<a href="/p">(back to posts list)</a>
		<hr />
		<Footer />
	</body>
</html>
